# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Logs
*.log

# Backend
backend/vendor/
backend/node_modules/
backend/storage/*.key
backend/storage/framework/cache/
backend/storage/framework/sessions/
backend/storage/framework/views/
backend/storage/logs/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# Docker volumes (if any)
**/data/
